server:
  port: 8081

spring:
  application:
    name: PRODUCT-SERVICE
  config:
    import: "optional:configserver:http://localhost:8083"
# JWT (must match gateway secret)


logging:
  level:
    org.springframework.security: INFO
#  datasource:
#    url: jdbc:mysql://localhost:3306/userdb?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
#
#    username: root
#    password: root
#    driver-class-name: com.mysql.cj.jdbc.Driver
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.MySQL8Dialect
#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka









