server:
  port: 8083
spring:
  application:
    name: CONFIG-SERVER

  cloud:
    config:
      server:
        git:
          uri: https://github.com/naresh2508/cap-insurance-config-server
          clone-on-start: true
